{{ 'myproductfeature.css' | asset_url | stylesheet_tag }}

{% assign product = all_products[section.settings.product] %}
  <div class="product-details">
  <!-- product details section -->
  <div class="product-details__description __dhiwise1734259974781">
    <div class="description__image-text-wrapper">
      <img
        src="{{ product.featured_image | image_url: width: 120 }}"
        alt="{{ product.featured_image.alt | escape }}"
        width="120"
        height="140"
        loading="lazy"
        class="image-text-wrapper__image" />
      <div class="image-text-wrapper__text">
        <p class="text__title">
          {{ product.title }}
        </p>
        <p class="text__price">
          {{ product.price | money }}
        </p>
        <p class="text__description">
          {{ product.description | strip_html | truncatewords: 30 }}
        </p>
      </div>
    </div>
  </div>


  <!-- product color options section -->
  <div class="color-selector">
    <label for="color">Color</label>
    <div class="color-options">
      {% assign colors = '' %}
      {% for variant in product.variants %}
        {% unless colors contains variant.option2 %}
          {% unless variant.option2 == blank %}
            <div class="color-option" style="border-left:  4px solid {{ variant.option2 | downcase }};">
              <span class="color-name">{{ variant.option2 }}</span>
            </div>
            {% assign colors = colors | append: variant.option2 | append: ',' %}
          {% endunless %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>


  <!-- product size selection section -->
  {% if product.options_with_values.size > 0 %}
    <div class="product-details__size-selection">
      <p class="color-selection__title">
        {{ 'products.product.size' | t }}
      </p>
      <select
        name="size"
        style="background-image: url({{ 'defaultNoData.png' | file_url }})"
        class="size-selection__dropdown">
        {% for value in product.options_with_values.first.values %}
          <option value="{{ value | escape }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  <!-- add to cart button section -->
  <button class="flex-row-center-center product-details__add-to-cart" id="AddToCart">
    <span>
      {{
        'products.product.add_to_cart' | t }}</span>
    <div class="right-icon-wrapper">
      {% render 'img_line_15'
        , class: "line-15" %}
    </div>
  </button>


</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        var addToCartButton = document.getElementById('AddToCart');
        addToCartButton.addEventListener('click', function () {
        var variantId = {{ product.selected_or_first_available_variant.id }};
        var quantity = 1; // Set the quantity to 1
        // Send a POST request to add the item to the cart
        fetch('/cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                items: [
                    {
                        id: variantId,
                        quantity: quantity,
                    },
                ],
            }),
        }).then((response) => response.json()).then((data) => {
                console.log('Product added to cart:', data);
            }).catch((error) => {
                console.error('Error:', error);
            });
    });
  });
</script>
{% schema %}
  {
    "name": "t:sections.myproductfeature.name",
    "tag": "section",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "t:sections.myproductfeature.settings.product"
      },
      {
        "type": "image_picker",
        "id": "image_846_one",
        "label": "t:sections.myproductfeature.settings.image_846_one"
      }
    ],
    "presets": [
      {
        "name": "t:sections.myproductfeature.presets.name"
      }
    ]
  }
{% endschema %}